@import "tailwindcss";

@theme {
  --color-neon-cyan: #22d3ee;
  --color-neon-green: #34d399;
}

body {
  background-color: #020617; /* Deep Slate Base */
  color: white;
  overflow-x: hidden;
  
  /* Global Background Pattern to match Home Page/Image 1 */
  background-image: 
    linear-gradient(rgba(255, 255, 255, 0.03) 1px, transparent 1px), 
    linear-gradient(90deg, rgba(255, 255, 255, 0.03) 1px, transparent 1px);
  background-size: 40px 40px;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #020617;
}
::-webkit-scrollbar-thumb {
  background: #1e293b;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #334155;
}